{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">







    <title> APPOINTMENT IN TUP-CAVITE</title>
  </head>


  <body>

<header class="header">
  <div class="header-inner">
    <div class="container-fluid px-lg-5">
      <nav class="navbar navbar-expand-lg my-navbar">
  <a class="navbar-brand" href="http://www.tup.edu.ph/"><span class="logo">Technological University of the Philippines</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="U-Login">S-Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="A-Login">A-Login</a>
      </li>
    </ul>
  </div>
</nav>

    </div>
  </div>


</header>

<section class="content-banner">
    <div class = "VISITING-OFFICE">

        <p>ONLINE APPOINTMENT IN TUP-CAVITE </p>

    </div>




</section>

<div class="main-content">

  <section class="about" id="about">
     <div class="container">
            <h2>TUP-Cavite</h2> 

            <p class="para">Technological University of the Philippines – Cavite Campus (Filipino: Teknolohikal na Unibersidad ng Pilipinas – Kampus ng Cavite) was established in 1979 as one of the three prototype technician institutes in the Philippines. It is a satellite campus located at Salawag, Damariñas, Cavite. At present, TUP Cavite offers programs in pre-baccalaureate and baccalaureate level.</p>
           
            <h2>History</h2>
            <p class="para">TUP-Cavite was established in 1979 in Salawag, Dasmariñas, Cavite donated by former senator and assemblywoman Helena Z. Benitez. The TUP-Cavite was created primarily to respond to the needs of the communities from Dasmariñas, Cavite for an affordable quality technology education.

            In 1982, the TUP-Cavite officially started its operations offering three-year engineering technology programs with specialization in Automotive, Civil, Electrical, Electronics, Drafting, Mechanical and Stationery Marine. Today, the TUP-Cavite has transformed into a well-recognized institution of higher learning in the field of technology education.</p>

        </div>
  </section>
  <section>
   <div class="container">
       <h2>TUP-CAVITE</h2>
     <div id="demo" class="carousel slide" data-ride="carousel">

   <!-- Indicators -->
   <ul class="carousel-indicators">
     <li data-target="#demo" data-slide-to="0" class="active"></li>
     <li data-target="#demo" data-slide-to="1"></li>
     <li data-target="#demo" data-slide-to="2"></li>
     <li data-target="#demo" data-slide-to="3"></li>
       <li data-target="#demo" data-slide-to="4"></li>
     <li data-target="#demo" data-slide-to="5"></li>
       <li data-target="#demo" data-slide-to="6"></li>
     
   </ul>

   <!-- The slideshow -->
   <div class="carousel-inner center">
     <div class="carousel-item active">
       <img src="{% static 'img/TRY1.jpg' %}" alt="">
     </div>
     <div class="carousel-item">
       <img src="{% static 'img/TUP1.jpg' %}" alt="">
     </div>
     <div class="carousel-item">
       <img src="{% static 'img/TUP2.jpg' %}" alt="">
     </div>
       <div class="carousel-item">
       <img src="{% static 'img/TUP3.jpg' %}" alt="">
     </div>
       <div class="carousel-item">
       <img src="{% static 'img/TUP4.jpg' %}" alt="">
     </div>
     <div class="carousel-item">
       <img src="{% static 'img/TUP_B.jpg' %}" alt="">
     </div>
      
   </div>

   <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#demo" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </a>
   <a class="carousel-control-next" href="#demo" data-slide="next">
     <span class="carousel-control-next-icon"></span>
   </a>
 </div>
   </div>
  </section>
  <section>
     <div class="container">
            <h2>Facts about TUP</h2>
            <p> Ronald P. Gleason was the first principal (1901-1904) of the school; J.J. Eaton was the first superintendent (1905-1906); and Gregorio J. Sevilla was the first Filipino superintendent (1936-1939); ln 1959, Jose S. Roldan became the first president of the Philippine College of Arts and Trades (PCAT) (1959-1961); Dr. Jose R. Vergara was the third president of PCAT and the first President of the Technological University of the Philippines (TUP) (1968-1988). Then, Dr. Frederick So. Pada became the second president of TUP (1988-2000); Dr. Bernardo F. Adiviso third president (Aug. 1-16, 2000); and now Dr. Fedeserio C. Camarao is serving as the fourth TUP president (2001 to date).</p>
            
         
        
         <img src="{% static 'img/TUP_B.jpg' %}" alt="Image" height="500px" width="1000px">.
        </div>
  </section>
    
    <footer class="foots">
        Online Appointment
    
    </footer>

  </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>







      <script type="text/javascript">
    var slides = document.querySelectorAll('.slide');
    var btns = document.querySelectorAll('.btn');
    let currentSlide = 1;  </script>






  <script type="text/javascript">
    $(function(){
      var navbar = $('.header-inner');
      $(window).scroll(function(){
        if($(window).scrollTop() <=40){
          navbar.removeClass('navbar-scroll');
        }else{
          navbar.addClass('navbar-scroll');
        }
      });
    });





  </script>




  </body>
</html>
